<div class="language-switcher">
  {{ range site.Languages }}
    {{ $langCode := .Lang }}
    {{ if eq $.Lang $langCode }}
      <a href="{{ $.RelPermalink }}" class="lang-link active" title="{{ .LanguageName }}">{{ $langCode | upper }}</a>
    {{ else }}
      {{ $found := false }}
      {{ if $.IsTranslated }}
        {{ range $.Translations }}
          {{ if eq .Lang $langCode }}
            <a href="{{ .RelPermalink }}" class="lang-link" title="{{ $.Language.LanguageName }}">{{ $langCode | upper }}</a>
            {{ $found = true }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if not $found }}
        <a href="{{ $.RelPermalink }}" class="lang-link" title="{{ .LanguageName }}">{{ $langCode | upper }}</a>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
