<div class="language-switcher">
  {{ $current := . }}
  {{ if .IsTranslated }}
    {{ range .Translations }}
      <a href="{{ .RelPermalink }}" class="lang-link" title="{{ .Language.LanguageName }}">{{ .Lang | upper }}</a>
    {{ end }}
    <a href="{{ .RelPermalink }}" class="lang-link active" title="{{ .Language.LanguageName }}">{{ .Lang | upper }}</a>
  {{ else }}
    {{ range site.Languages }}
      {{ if eq $.Lang .Lang }}
        <a href="{{ $.RelPermalink }}" class="lang-link active" title="{{ .LanguageName }}">{{ .Lang | upper }}</a>
      {{ else }}
        <a href="{{ (site.Home.Translations | lang.Merge site.Home).RelPermalink }}" class="lang-link" title="{{ .LanguageName }}">{{ .Lang | upper }}</a>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
