{{ define "main" }}
{{ $pp := site.GetPage "/products-page" }}
<section class="page-header">
  <div class="container">
    <h1>{{ with $pp }}{{ .Params.pageTitle }}{{ else }}{{ site.Params.allProductsText }}{{ end }}</h1>
    {{ with $pp }}{{ with .Params.pageDescription }}<div class="page-description"><p>{{ . }}</p></div>{{ end }}{{ end }}
    {{ with $pp }}{{ with .Content }}<div class="page-description">{{ . }}</div>{{ end }}{{ end }}
  </div>
</section>

<section class="products-listing">
  <div class="container">
    <div class="product-grid">
      {{ range .Pages }}
        {{ partial "product-card.html" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
